<header>
  <div class="row" class="head">
    <div class="col-2"><i class="fas fa-hamburger fa-4x"></i>
    </div>
    <div class="col-10">
      <h1>We Got Burgers!</h1>
    </div>
  </div>
</header>
<div class="burgerlist">
<h2>Burgers for Eatin'!</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burger-block devoured=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that Got Eaten!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burger-block devoured=false}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form id="create-form">

  <div class="form-group">
    <label for="bu">Burg Name:</label>
    <input type="text" id="bu" name="burger_name">
  </div>

  <div class="form-group">
    <label for="sleepy">Did you eat it yet?</label><br>
    <input type="radio" name="devoured" value="1" id="devoured" checked> Yes, I ate it!<br>
    <input type="radio" name="devoured" value="0" id="uneaten"> No, not yet.
  </div>

  <button type="submit">Add Burg</button>
</form>
</div>