header {

    color: white;
    padding: 10px;
    background: linear-gradient(to right, #B294FF, #57E6E6, #57E6E6, #B294FF);

}


p {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    width: 95%;
  }

  .burgerlist {
    padding: 10px;
    padding-bottom: 30px;
}
  
  .form-group {
    margin-bottom: 5px;
  }

  #create-form{
      padding: 10px;
  }